# Dependencias
frontend/node_modules/
frontend/.pnpm/

# Builds y producción de Next.js
frontend/.next/
frontend/out/

# Archivos de entorno / Locales
frontend/.env*.local
frontend/.DS_Store
.DS_Store